<ion-view title="detalle">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <h5>Hoy, 12 de Diciembre - {{data[0]}}</h5>
        <h1>ARTE en el parque 2</h1>
        <ion-list>
            <ion-item>4.0 valoracion</ion-item>
        </ion-list>
        <div>
            <p>
                <strong>Descripcion</strong>
                Some friendly Some friendly Some friendly Some friendly Some friendly Some friendly Some friendly Some friendly Some friendly Some friendly Some friendly Some friendly Some friendly Some friendly</p>
        </div>
        <div>
            <p>
                <strong>Ubicación</strong>
            </p>
        </div>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a href="#/page5" class="button button-positive  ">Me interesa</a>
        <a href="#/page3" class="button button-positive button-clear ">No interesa</a>
    </ion-content>
</ion-view>