<ion-view title="home">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <h2 style="width:100%;text-align:center">Hola Vecino,</h2>
        <h4 style="width:100%;text-align:center">que te interesa hacer hoy</h4>
        <a style="display: inline-block; width: 100%; height: auto;"  href="#/listadoArte">
            <img src="img/o9FOXfuT12ZTpYxuU2dQ_arte.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        </a>
        <a style="display: inline-block; width: 100%; height: auto;"  href="#/listadoCine">
            <img src="img/jBOV7e1RRTBKGOrIO1w1_cine.jpg" width="100%" height="auto">
        </a>
        <a style="display: inline-block; width: 100%; height: auto;"  href="#/listadoDanza">
            <img src="img/Danza.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        </a>
        <a style="display: inline-block; width: 100%; height: auto;"  href="#/listadoVet">
            <img src="img/Veterinaria.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        </a>
        <!--
        <a style="display: inline-block; width: 100%; height: auto;"  href="#/listadoComidaSana">
            <img src="img/LZBC8uu8Qgqciisg01WW_Comida-Saludable2.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        </a>
        -->
        <a hidden="true"  name="listado" href="#/page3">
            <img src="img/7BTmc3kgT6Z0XN0zmd3g_Concierto.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        </a>
    </ion-content>
</ion-view>